ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 60%;
    margin: auto;
}
ul li{
    display: inline-block;
    margin: 20px;
}
ul li img{
    border: 1px solid black;
}
@media only screen and (max-width: 1250px){
    ul{
        width: 80%;
    }
}

@media only screen and (max-width: 800px){
    ul{
        width: 100%;
    }
}
